
<div ng-controller="AuthCtrl">

	<h2>Join Diction today.</h2>
	<p>Diction is a simple, <a href="http://github.com/kylesb/lexnr">open-source</a> web application for creating and sharing vocabulary lists.</p>

	<hr class="dash">

	<div class="row register-container">

		<div class="register-form-container pull-left">

			<form ng-submit="register()">
				<table id="register-table">
					<tr>
						<td><span>Full name:</span></td>
					</tr>
					<tr>
						<td>
							<input ng-model="user.full_name" class="splash-input register-form-input" type="text" autofocus required>
						</td>
					</tr>
					<tr>
						<td>Email:</td>
					</tr>
					<tr>
						<td>
							<input ng-model="user.email" class="splash-input register-form-input" type="email" required>
						</td>
					</tr>
					<tr>
						<td>Password:</td>
					</tr>
					<tr>
						<td>
							<input ng-model="user.password" class="splash-input register-form-input" type="password" required>
						</td>
					</tr>
					<tr>
						<td><button type="button" ng-click="register()" class="button-icon pull-right register-submit">Sign up</button></td>
					</tr>
				</table>

			</form>
		</div>

		<div class="pull-right register-benefits-container">
			<p>Registeration benefits:</p>

			<ul>
				<li>Save lists, and access them later.</li>
				<li>Ability to update, add-to, or delete shared lists.</li>
				<li>Share an unlimited amount of lists.</li>
			</ul>
		</div>
	</div>

	<!--
	<form ng-submit="register()" id="create-account-form">

	<div class="input class="form-control"-group">
	    <label>First name:</label>
	    <input class="form-control" class="name input class="form-control"" type="text" class="form-control" ng-model="user.firstname" autofocus required>
	</div>

	<div class="input class="form-control"-group">
	    <label>Last name:</label>
	    <input class="form-control" class="name input class="form-control"" type="text" class="form-control" ng-model="user.lastname" required>
	</div>

	<div class="input class="form-control"-group">
	    <label>Email:</label>
	    <input class="form-control" class="input class="form-control"" type="email" class="form-control" ng-model="user.email" required>
	</div>

	<div class="input class="form-control"-group">
	    <label>Password:</label>
	    <input class="form-control" class="input class="form-control"" type="password" class="form-control" ng-model="user.password" required>
	</div>

	<label class="text grey" style="margin: 15px 0 0 0;">* All fields required</label>

	    <input class="form-control" class="input class="form-control" text" id="submit-button" type="submit" class="btn btn-default" value="Register">
	</form>-->
</div>