<div class="row">

  <form>
    <input ng-change="updateList(list)" ng-model="list.title" value="{{lists[0]['title']}}">
  </form>

  <div class="dropdown display-inline">
    <button type="button" class="button-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li ng-repeat="list in lists"><a ng-click="updateList($index)">{{ list.title }}</a></li>
    </ul>
  </div>


  <!-- float right -->
  <section class="pull-right">

    <div class="dropdown display-inline">
      <button type="button" class="button-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
       List Options: <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>
          <a ng-click="addList()">New</a>
        </li>
        <li>
          <a ng-click="deleteList(list)">Delete</a>
        </li>
        <li>
          <a ng-click="shareList(list)">Share</a>
        </li>
        <li>
          <a>Information</a>
        </li>
      </ul>
    </div>

  </section>
  <!-- / right -->

</div>

<hr class="dash">

<div class="row" ng-if="list">

  <!-- add word -->
  <form ng-submit="addWords()">
    <input type="text" ng-model="$parent.word" id="search-word" placeholder="Add words..." autofocus="true"></input>
    <button type="button" class="button-icon">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
  </form>
  <!-- end add -->

  <!-- float right -->
  <section class="pull-right word-options-container">

    <button type="button" class="button-icon" id="word-options-click">
      <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
    </button>

    <!-- filter options -->
    <div class="option-choice">
      <input class="sort-option" ng-model="$parent.searchText" value="{{ selectedOrder.name }}" placeholder="Filter...">
      <!-- sort options -->
      <div class="dropdown display-inline">
        <button type="button" class="button-icon dropdown-toggle filter-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li ng-repeat="option in sortOptions"><a ng-click="updateSort($index)">{{ option.name }}</a></li>
        </ul>
      </div>
    </div>

    <div class="option-choice">
      <input min="0" max="5" step=".20" ng-model="inputRange" class="inputRange" ng-change="updateRange(inputRange)" type="range">
    </div>
    <!-- / filter -->


  </section>
  <!-- / right -->
</div>


<div class="row">

  <!-- empty list -->
  <div ng-if="list.words.length === 0" class="well">
    <p>It appears that there are no words in this list...</p>
  </div>
  <!-- / empty list -->

  <!-- list all words in list -->
  <div ng-if="list.words.length > 0" id="words-container" ui-tree>

    <ol ui-tree-nodes="" ng-model="list.words">

      <!-- words in list -->
      <li ng-repeat="word in list.words | orderBy:selectedOrder.value:selectedOrder.reversed | filter:searchText" class='word word-container' id="word-{{word.id}}" ui-tree-node>

        <!-- delete word -->
        <button class="delete-word pull-right button-icon" ng-click="deleteWord(word.id, word)" type="button" class="button-icon">
          <span title="Delete" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
        <!-- end delete -->

        <p ui-tree-handle class="word word-title">{{ word.title }}</p>

        <section id="minimal" ng-hide="minimal">

          <p class="speech">{{ word.speech }}</p>

          <ol class="definitions">
            <div ng-repeat="w in word.dictionary">
              <li role="definition">{{ w.definition }}
                <small><a target="_blank" ng-if="word.link" href="{{ word.link }}">( ... )</a></small>
              </li>
              <p class="example" ng-if="w.example !== false">{{ w.example }}</p>
          </ol>

        </section>

        <p ng-show="date">Created at: {{word.date}}</p>

      </li>
    </ol>

  </div>
  <!-- end words -->
</div>
