	<!-- start search -->
	<div class="search">
		<abbr title="Search">

        <!-- add word -->
        <form ng-submit="addWord()" id="add-word">
          <input type="text" class="search-form" id="index-search" ng-model="$parent.word" placeholder="Enter words to find definitions..." autofocus></input>
          <input class="search-glass" type="image" src="search-icon.png" alt="Submit">
        </form>
        <!-- end add -->

		</abbr>									
	</div>
	<!-- /search -->

	<!-- welcome message -->
	<div id="welcome-message">

		<!-- heroku test -->
		
		<p>Welcome,</p>
		<p>Search and create vocabulary lists from Google's Definition API...</p>
		
		<p style="margin-top: 25px;" class="grey-text">
			[ <a class="underline-hover" href="http://github.com/blnr/Diction#readme">continue reading...</a> ]
		</p>
		
	</div>
	<!-- /welcome message -->

	<!-- page transition -->
	<div class="loader">
	    <div class="bar"></div>
	    <div class="bar"></div>
	    <div class="bar"></div>
	</div>
	<!-- /page transition -->

	<!-- start footer -->
	<footer>
		<div id="footer-container"><hr>

			<span>( <a href="http://github.com/blnr/Diction">GitHub</a> )</span>
			<span>( &lt;/> in Baltimore by: Kyle Belanger )</span>

		</div>
	</footer>
	<!-- /footer -->