<div ng-controller="PublicCtrl" style="margin-top: -30px;">

  <div class="row">
    <div class="col-md-6 pull-left">
	    <p class="h3" title="This is a public accessible link">
        {{ list.title }}
        <small class="margin-left-right-10px">[ 
          <span class="background-aliceBlue">public</span> 
        ]</small>
      </p>
	    <p>
	    	<div ng-if="!list.description">
	    		No descripton available...
	    	</div>
	    	{{ list.description }}
	    </p>
    </div>
  </div>

  <hr class="dash">

  <div class="row" ng-if="list">

    <div class="col-md-6 pull-left">
      <p class="pull-left">Last updated: {{ list.updated_at }}</p>
    </div>

    <!-- float right -->
    <section class="pull-right">

      <!-- hidden section -->
      <section class="word-options display-inline">
        <!-- filter options -->
        <div class="option-choice">
          <input class="sort-option" ng-model="$parent.searchText" value="{{ selectedOrder.name }}" placeholder="Filter...">
          <!-- sort options -->
          <div class="option-choice">
            <div class="dropdown display-inline">
              <button type="button" class="button-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="option in sortOptions"><a ng-click="updateSort($index)">{{ option.name }}</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="option-choice">
          <!-- collapse -->
          <span class="display-menu-text"><input type="checkbox" ng-model="$parent.minimal" aria-label="Toggle ngHide" /> Collapse</span>
        </div>
        <div class="option-choice">
        <!-- date -->
          <span class="display-menu-text"><input type="checkbox" ng-model="$parent.date" aria-label="Toggle ngShow" /> Date</span>
        </div>
      </section>
      <!-- / hidden -->

      <button type="button" class="button-icon" id="word-options-click">
        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
      </button>
    </section>
    <!-- / right -->

  </div>


  <div class="row">

    <!-- empty list -->
    <div ng-if="list.words.length === 0" class="well">
      <p>It appears that there are no words in this list...</p>
    </div>
    <!-- / empty list -->

    <!-- list all words in list -->
    <div ng-if="list.words.length > 0" id="words-container" ui-tree>

      <ol ui-tree-nodes="" ng-model="list.words">

        <!-- words in list -->
        <li ng-mousedown="updateSort()" ng-repeat="word in list.words | orderBy:selectedOrder.value:selectedOrder.reversed | filter:searchText" class='word word-container' id="word-{{word.id}}" ui-tree-node>

          <p ui-tree-handle class="word word-title">{{ word.title }}</p>

          <section id="minimal" ng-hide="minimal">

            <p class="speech">{{ word.speech }}</p>

            <ol class="definitions">
              <div ng-repeat="w in word.definitions">
                <li role="definition">{{ w.meaning }}</li>
                <p class="example" ng-if="w.examples[0] !== nil">{{ w.examples[0] }}</p>
              </div>
            </ol>

          </section>

          <p ng-show="date">Created at: {{word.created_at}}</p>

        </li>
      </ol>

    </div>
    <!-- end words -->
  </div>

  </div>

</div>