<div ng-controller="PublicCtrl" style="margin-top: -30px;">

  <div class="row">
    <div class="col-md-6 pull-left">
	    <p class="h3" title="This is a public accessible link">
        {{ list.title }}
        <small class="margin-left-right-10px">[
          <span class="background-aliceBlue">public</span>
        ]</small>
      </p>
	    <p>
	    	<div ng-if="!list.description">
	    		No descripton available...
	    	</div>
	    	{{ list.description }}
	    </p>
    </div>
  </div>

  <hr class="dash">

  <div class="row" ng-if="list">

    <div class="col-md-6 pull-left">
      <p class="pull-left">Created: {{ list.created_at }}</p>
    </div>

    <!-- float right -->
    <section class="pull-right word-options-container">

      <button type="button" class="button-icon" id="word-options-click">
        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
      </button>

      <!-- filter options -->
      <div class="option-choice">
        <input class="sort-option" ng-model="$parent.searchText" value="{{ selectedOrder.name }}" placeholder="Filter...">
        <!-- sort options -->
        <div class="dropdown display-inline">
          <button type="button" class="button-icon dropdown-toggle filter-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="option in sortOptions"><a ng-click="updateSort($index)">{{ option.name }}</a></li>
          </ul>
        </div>
      </div>

      <div class="option-choice">
        <input min="0" max="5" step=".20" ng-model="inputRange" class="inputRange" ng-change="updateRange(inputRange)" type="range">
      </div>
      <!-- / filter -->

    </section>
    <!-- / right -->
  </div>

  <div class="row">

    <!-- empty list -->
    <div ng-if="list.words.length === 0" class="well">
      <p>It appears that there are no words in this list...</p>
    </div>
    <!-- / empty list -->

    <!-- list all words in list -->
    <div ng-if="list.words.length > 0" id="words-container" ui-tree>

      <ol ui-tree-nodes="" ng-model="list.words">

        <!-- words in list -->
        <li ng-repeat="word in list.words | orderBy:selectedOrder.value:selectedOrder.reversed | filter:searchText" class='word word-container' id="word-{{word.id}}" ui-tree-node>

          <p ui-tree-handle class="word word-title">{{ word.title }}</p>

          <section id="minimal" ng-hide="minimal">

            <p class="speech">{{ word.speech }}</p>

            <ol class="definitions">
              <div ng-repeat="w in word.dictionary">
                <li role="definition">{{ w.definition }}
                  <small><a target="_blank" ng-if="word.link" href="{{ word.link }}">( ... )</a></small>
                </li>
                <p class="example" ng-if="w.example !== false">{{ w.example }}</p>
            </ol>

          </section>

          <p ng-show="date">Created at: {{word.date}}</p>

        </li>
      </ol>

    </div>
    <!-- end words -->
  </div>

  </div>

</div>
