
<div ng-controller="AuthCtrl">

	<h2 class="register">Request Account:</h2>

	<p>Diction is an <a href="http://github.com/kylesb/diction.help">open-source</a> web application for creating and sharing annotation lists.</p>

	<p>Registeration is limited in an attempt to restrain throttling of API, and Web Dyno usage. This project is cloud hosted free via Heroku.</p>

	<hr class="dash">

	<div class="row register-container">

		<div class="register-form-container pull-left">

			<form class="width-100" action="mailto:belanger.kyle@gmail.com" method="post" enctype="text/plain">
				Full name:<br>
				<input type="text" name="name"><br>
				Email:<br>
				<input type="text" name="mail"><br>
				Comment:<br>
				<textarea></textarea><br><br>
				<input type="submit" value="Send">
				<input type="reset" value="Reset">
			</form>

			<!-- <form ng-submit="register()">
				<table id="register-table">
					<tr>
						<td><span>Full name:</span></td>
					</tr>
					<tr>
						<td>
							<input ng-model="user.full_name" class="splash-input register-form-input" type="text" autofocus required>
						</td>
					</tr>
					<tr>
						<td>Email:</td>
					</tr>
					<tr>
						<td>
							<input ng-model="user.email" class="splash-input register-form-input" type="email" required>
						</td>
					</tr>
					<tr>
						<td>Password:</td>
					</tr>
					<tr>
						<td>
							<input ng-model="user.password" class="splash-input register-form-input" type="password" required>
						</td>
					</tr>
					<tr>
						<td><button type="button" ng-click="register()" class="button-icon pull-right register-submit">Sign up</button></td>
					</tr>
				</table>

			</form> -->
		</div>

		<div class="pull-left register-benefits-container">
			<p>Account benefits:</p>

			<ul>
				<li>Save annotation lists for future access.</li>
				<li>Ability to update, add-to, or delete private and shared annotation lists.</li>
				<li>Create and share annotation lists via a private URL.</li>
			</ul>
		</div>
	</div>

	<!--
	<form ng-submit="register()" id="create-account-form">

	<div class="input class="form-control"-group">
	    <label>First name:</label>
	    <input class="form-control" class="name input class="form-control"" type="text" class="form-control" ng-model="user.firstname" autofocus required>
	</div>

	<div class="input class="form-control"-group">
	    <label>Last name:</label>
	    <input class="form-control" class="name input class="form-control"" type="text" class="form-control" ng-model="user.lastname" required>
	</div>

	<div class="input class="form-control"-group">
	    <label>Email:</label>
	    <input class="form-control" class="input class="form-control"" type="email" class="form-control" ng-model="user.email" required>
	</div>

	<div class="input class="form-control"-group">
	    <label>Password:</label>
	    <input class="form-control" class="input class="form-control"" type="password" class="form-control" ng-model="user.password" required>
	</div>

	<label class="text grey" style="margin: 15px 0 0 0;">* All fields required</label>

	    <input class="form-control" class="input class="form-control" text" id="submit-button" type="submit" class="btn btn-default" value="Register">
	</form>-->
</div>
