<div ng-controller="SearchCtrl">

  <div class="row">

    <form>
      <input ng-model="list.title" value="{{lists[0]['title']}}">
    </form>

    <div class="dropdown display-inline">
      <button type="button" class="button-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li ng-repeat="list in lists"><a ng-click="updateList($index)">{{ list.title }}</a></li>
      </ul>
    </div>


    <!-- float right -->
    <section class="pull-right">

      <div class="dropdown display-inline">
        <button type="button" class="button-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
         List Options: <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li>
            <a ng-click="addList()">New</a>
          </li>
          <li>
            <a ng-click="deleteList(list)">Delete</a>
          </li>
          <li>
            <a ng-click="updateList($index)">Share</a>
          </li>
          <li>
            <a ng-click="updateList($index)">Information</a>
          </li>
        </ul>
      </div>

      <!-- hidden section
      <section class="list-options display-inline">
        <button ng-click="addList()" type="button" class="button-icon">
          <span>New</span>
        </button>
        <button ng-click="deleteList(list)" type="button" class="button-icon">
          <span>Delete</span>
        </button>
        <button type="button" class="button-icon">
          <span>Share</span>
        </button>
        <button type="button" class="button-icon">
          <span>Information</span>
        </button>
      </section>
       / hidden -->

    </section>
    <!-- / right -->

      <!-- list all lists -->
      <!--<select class="list-select input-sm" ng-model="list" ng-init="list = lists[0]" ng-options="list as list.title for list in lists">
      </select>-->
      <!-- end list -->

  </div>

  <hr class="dash">

  <div class="row" ng-if="list">

    <!-- add word -->
    <form ng-submit="addWords()">
      <input type="text" ng-model="$parent.word" id="search-word" placeholder="Add words..." autofocus="true"></input>
      <button type="button" class="button-icon">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </form>
    <!-- end add -->

    <!-- float right -->
    <section class="pull-right word-options-container">

      <button type="button" class="button-icon" id="word-options-click">
        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
      </button>

      <!-- hidden section -->
      <section class="word-options display-inline">
        <!-- filter options -->
        <div class="option-choice">
          <input class="sort-option" ng-model="$parent.searchText" value="{{ selectedOrder.name }}" placeholder="Filter...">
          <!-- sort options -->
          <div class="option-choice">
            <div class="dropdown display-inline">
              <button type="button" class="button-icon dropdown-toggle filter-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="option in sortOptions"><a ng-click="updateSort($index)">{{ option.name }}</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="option-choice">
          <!-- collapse -->
          <span class="display-menu-text"><input type="checkbox" ng-model="$parent.minimal" aria-label="Toggle ngHide" /> Collapse</span>
        </div>
        <div class="option-choice">
        <!-- date -->
          <span class="display-menu-text"><input type="checkbox" ng-model="$parent.date" aria-label="Toggle ngShow" /> Date</span>
        </div>
      </section>
      <!-- / hidden -->

    </section>
    <!-- / right -->

  </div>


  <div class="row">

    <!-- empty list -->
    <div ng-if="list.words.length === 0" class="well">
      <p>It appears that there are no words in this list...</p>
    </div>
    <!-- / empty list -->

    <!-- list all words in list -->
    <div ng-if="list.words.length > 0" id="words-container" ui-tree>

      <ol ui-tree-nodes="" ng-model="list.words">

        <!-- words in list -->
        <li ng-mousedown="updateSort()" ng-repeat="word in list.words | orderBy:selectedOrder.value:selectedOrder.reversed | filter:searchText" class='word word-container' id="word-{{word.id}}" ui-tree-node>

          <!-- delete word -->
          <button class="delete-word pull-right button-icon" ng-click="deleteWord(word.id, word)" type="button" class="button-icon">
            <span title="Delete" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
          <!-- end delete -->

          <p ui-tree-handle class="word word-title">{{ word.title }}</p>

          <section id="minimal" ng-hide="minimal">

            <p class="speech">{{ word.speech }}</p>

            <ol class="definitions">
              <div ng-repeat="w in word.definitions">
                <li role="definition">{{ w.meaning }}</li>
                <p class="example" ng-if="w.examples[0] !== nil">{{ w.examples[0] }}</p>
              </div>
            </ol>

          </section>

          <p ng-show="date">Created at: {{word.date}}</p>

        </li>
      </ol>

    </div>
    <!-- end words -->
  </div>

  </div>

</div>