/*	______________________________
	GLOBAL
	______________________________ 
*/

body {
	height: 900px;
}

.input-minimal {
	width: 250px;
	background-color: transparent;
	border: none;
	border-bottom: thin dotted grey;
}

.list-select {
	width: 200px;
	background-color: transparent;
	border: none;
	border-bottom: thin dotted grey;
}


p, span, .input-display {
	font-size: 16px;
	font-family: "Times New Roman", serif;
}

u.underline {
	text-decoration: none;
	border-bottom: thin dotted grey;
}


.header {
	font-size: 26px;
	line-height: 50px;
    word-spacing: 2px;

}

.splash-message {
	width: 800px;
	margin: 65px auto;
}



#page-wrap {
  margin: 15px auto;
  width: 90%;
  border: thin;
}

#content {
  float: left;
  width: 100%;
  margin: 165px auto;
}

#form-search, .form-search {
    border: thin solid #8FB1FF;
	width: 730px;
}

.welcome-message {
	width: 100%;
	line-height: 40px;
}

input:focus {
	outline: none;
    border-color: thin solid #eee;
}

.splash-input {
  font-size: 16px;
  height: 36px;
  padding: 5px 10px;
  line-height: 1.5;
  border: 1px solid #eee;
  border-radius: 1px;
}

.underline-hover {
	font-size: 10px;
}

.welcome-message {
	margin-top: 15px;
	text-align: left;
}

.splash-search {
	margin-top: 55px;
}

.margin-top {
	margin: 10px 0 0 0;
}


a {
	text-decoration: none;
	color: #313131;

}

.blue {
	  color: #336699;
}

.grey {
	color: grey;
}


.splash-header {
  padding: 40px 15px;
  width: 100%;
 }


.logo-img {
	float: left;
	width: 55px;
	height: auto;
	margin: -10px 0 0 0;
}

.logo {
	color: grey;
}






header[role="masthead"] {
    position: absolute;
    width: 100%;
    /*margin: -15px 0 0 0;*/
    /* border-bottom: thin dotted grey; */
    /* padding: 25px 0; */
    /* background-color: #FDFDFD; */
    min-height: 75px;
    margin: 0 auto;

	#masthead-container {
	    margin: 0 auto;
	    width: 90%;
	    border-bottom: thin dotted;
	    min-height: 75px;
	    overflow: auto;
	}
}

nav[role="base"] {
	float: right;
}






/*	Searchpage
	______________________________
*/





.word {
	font-size: 24px;
	margin: 10px 0;
}

.word-title {
	color: #1E1F20;
}

.word-minimal {
	font-size: 18px;
	display: none;	
}

.word-pronounce {
	margin-bottom: 0px;
}

.speech {
	font-style: italic;
	margin: -3px 0px;
}

.definitions {
	margin: 15px 0;
}

li[role="definition"] {
	font-size: 14px;
	color: #333;
	margin-bottom: 5px;
}

.example {
	font-size: 14px;
	color: #4C4C4C;
	margin: -2px 0 15px 0;
}

.button-icon {
    background-color: transparent;
    border: thin dotted grey;
    opacity: 1;
}

.button-icon:hover {
	opacity: 1;
}





#nav-menu {
	margin: 25px 0 0 0;
}

.padding-none {
	padding: 0;
}

#words-container {
    margin: 45px 0 0 0;
}

.word-container {
    border-left: thin dotted grey;
    padding-left: 15px;
    margin-bottom: 10px;
    width: 70%;
    /* padding: 1px 15px; */
    padding-bottom: 20px;
}

.word-container:hover {
    background-color: #FAFAFA;
}


.dashboard-message {
	width: 800px;
	border-bottom: thin dotted #8FB1FF;
	margin: 0 0 45px 0;
}

#login-table {
	width: 400px;
}

#register-table {
	width: 800px;
}

.full-width {
	width: 100%;
}


form {
    display: inline-block;
}

.display-inline {
	display: inline;
}

.display-none {
	display: none;
}

.list-options, .word-options {
	/*display: none;*/
}

.list-options button {
    margin: 0 2px;
    opacity: .85;
}

section {
	display: inline;
}

.delete-word {
	display: none;
}

.well {
	margin: 25px 0;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

#guest-user {
    clear: both;
    display: none;
    margin: 10px 0 0 0;
}

input:focus {
    border: thin solid #8FB1FF;
}

.option-choice {
    display: inline;
    margin: 0 5px;
    border-right: thin dotted grey;
    padding: 0 5px 0 0;
}

.register-benefits-container {
    border-left: thin dotted grey;
    margin: 0 75px;
    padding: 0 25px;
    height: 220px;
}

.h3 {
	font-family: "Times New Roman";
	font-size: 20px;
}

.row {
    margin-right: 0px;
   	margin-left: 0px;
}

.glyphicon-menu-down {
	opacity: .4;
}

.glyphicon-menu-down:hover {
	opacity: .85;
}

#word-options-click {
	float: right;
}

.register-container {
	width: 1200px;
}

.register-form-container {
	width: 650px;
}

.register-form-input {
	width: 630px;
}

.register-submit {
    margin: 20px 170px;
    width: 100px;
}

.input-display {
	background-color: transparent;
	border: none;
	min-width: 75%;
}

.input-display:hover {
    border: thin dotted #8FB1FF;
}


@media screen and (max-width: 600px) {
	#content {
		margin: 125px auto;
	}

	.splash-message {
	    width: 100%;
	    margin: 25px auto;
	}

	#form-search, .form-search {
	    border: thin solid #8FB1FF;
	    width: 400px;
	}

	.word-options {
	    float: left;
	    clear: both;
	    display: none;
    	margin: 15px 0 0 -5px;
	}

	.word-options-container {
	    width: 100%;
	    padding: none;
	    margin: none;
	    margin: 0;
	    padding: 0;
	    margin-top: -20px;
	}

	#word-options-click {
    	margin-top: -10px;
	}

	.filter-button {
		margin: 0 0 0 -3px;
	}

	.word-container {
		width: 100%;
	}

}




