<!DOCTYPE html>
<html>

	<head>
		<title>Diction</title>
		<meta name="Description" content="A simple tool for creating and sharing vocabulary lists.">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<meta name="viewport" content="width=device-width" />
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
	</head>

	<!-- start body -->
	<body ng-app="lexnr">

			<!-- start header -->
			<header role="masthead" class="row">

				<div id="masthead-container">

					<div class="col-md-6 pull-left">
						<div class="col-md-4 pull-left">
						</div>
					</div>

					<div class="col-md-6 pull-right padding-none">
				      <button type="button" class="button-icon pull-right" id="nav-menu">
				        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
				      </button>

				      <br><br><br>

						<!-- guest user -->
						<nav ng-hide="signedIn()" class="pull-right" ng-controller="AuthCtrl">
							<div id="nav-login">

								<form id="form-login" ng-submit="login()">
									<table id="login-table">
										<tr>
											<td>Email:</td>
										</tr>
										<tr>
											<td><input type="email" class="full-width" ng-model="user.email" autofocus required></td>
										</tr>
										<tr>
											<td>Password:</td>
										</tr>
										<tr>
											<td><input type="password" class=full-width ng-model="user.password" required></td>
										</tr>
											<td>
												<input type="submit" id="submit" class="text" value="Log In">
											</td>
									</table>
								</form>

							</div>
						</nav>
						<!-- / guest -->
					</div>

					<!-- loggin in -->
					<nav ng-show="signedIn()" ng-controller="NavCtrl">
						<a ng-click="logout()">Log Out</a>
						<span>{{ user.firstname }}</span>
					</nav> 
					<!-- / logged -->

					<!-- nav user 
					<nav id="nav-user">
						<span style="margin-left: 5px;" class="menu-text" ng-show="signedIn()"><a ng-click="logout()">Log Out</a></span>
						<span class="menu-text">-</span>
						<span class="menu-text" style="cursor: default; margin-right: 10px;">{{ user.firstname }}</span>
					</nav> -->

				</div>
			</header>
			<!-- /header -->

		<div class="container-fluid" id="page-wrap">

			<!-- render template -->
			<ui-view id="content">
			</ui-view>
			<!-- end render -->

			<!-- page overlay for login -->
			<span id="page-overlay"></span>	

		</div>
	</body>
	<!-- end body -->

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-61575718-2', 'auto');
	  ga('send', 'pageview');

	</script>

</html>
