<!DOCTYPE html>
<html>

	<head>
		<title>Lexnr</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
		
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<meta name="viewport" content="width=device-width" />
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
	</head>

	<!-- start body -->
	<body ng-app="lexnr">

		<div id="pagewrap">

			<!-- start header -->
			<header role="masthead" id="home-drop">
				<div id="masthead-container">	
					
					<!-- base nav -->
					<nav role="base" ng-controller="NavCtrl">
						<!-- nav guest -->
						<nav id="nav-guest">
							<span class="menu-text" ng-hide="signedIn()">( Log-In )<img class="arrow-down" src="arrow_down.png"></span>
						</nav>

						<!-- nav user -->
						<nav id="nav-user">
							<span style="margin-left: 5px;" class="menu-text" ng-show="signedIn()"><a ng-click="logout()">Log Out</a></span>
							<span class="menu-text">-</span>
							<span class="menu-text" style="cursor: default; margin-right: 10px;">{{ user.firstname }}</span>
						</nav> 
			       </nav>
			       <!-- / base -->  

				</div>
					<!-- nav log-in -->
					<nav ng-hide="signedIn()" id="nav-login-container" ng-controller="AuthCtrl">
						<div id="nav-login">

							<form id="form-login" ng-submit="login()">
								<table>
									<tr>
										<td>Email:</td>
										<td>Password:</td>
										<td></td>
									</tr>
									<tr>
										<td><input type="email" class="form-control" placeholder="Email" ng-model="user.email" autofocus required></td>
										<td><input type="password" class="form-control" placeholder="Password" ng-model="user.password" required></td>
										<td><input type="submit" id="submit" class="text" value="Log In"></td>
									</tr>
								</table>

								<hr class="dash">

								<p class="text create-account"><a href="#/register">Create an account</a></p>

							</form>

						</div>
					</nav>
			</header>
			<!-- /header -->

			<!-- render template -->
			<ui-view id="content">
			</ui-view>
			<!-- end render -->

			<!-- page overlay for login -->
			<span id="page-overlay"></span>	

		</div>
	</body>
	<!-- end body -->

</html>
